
.wrong {
  background-color: #faa;
}

.correct {
  background-color: #afa;
}

.exercise {
  margin: 0 auto;
  text-align: center;  
}

.item {
  display: inline-block;
  width: 33%;
  cursor: hand; 
  cursor: pointer;
}

.item img {
  width: 100%;
}
