
.wrong {
  background-color: #faa;
}

.correct {
  background-color: #afa;
}

.item {
  width: 100px;
  height: 100px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: hand; 
  cursor: pointer;
}
